
@{
    ViewBag.Title = "System Error";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container wp-error">
    <div class="row">
        <div class="col-md-6">
            <h2>System Error - Please contact to adminstrator</h2>
        </div>
        <div class="col-md-6" style="text-align: left;">
            <img src="~/Content/Images/robot.png" alt="Error image">
        </div>
    </div>
</div>