
@{
    ViewBag.Title = "Page404";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container wp-error">
    <div class="row">
        <div class="col-md-6">
            <h2>Page404 - Page Not Found</h2>
        </div>
        <div class="col-md-6" style="text-align: left;">
            <img src="~/Content/Images/robot.png" alt="Not found image" />
        </div>
    </div>
</div>