
@{
    ViewBag.Title = "Báo cáo doanh thu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header page-header-default">
    <div class="page-header-content" style="background-color: #fcfcfc;">
        <div class="page-title" style="padding: 20px 0;">
            <h4>
                <a href="javascript:void(0);" onclick="history.go(-1);"><i class="icon-arrow-left52 position-left"></i></a>
                <span class="text-semibold">Báo cáo doanh thu</span>
            </h4>
        </div>
    </div>
</div>
<div class="div-h100 div-top69">
    <div class="panel-body data-table div-h100-body">
        <div class="well">

        </div>
    </div>
    @*<div class="panel-body div-h100-body">
        <div class="two-columns form-group">
            <div class="left-full">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <input type="text" id="fromDate" value="" class="form-control pickadate" placeholder="Từ ngày" data-toggle="tooltip" title="Từ ngày">
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <input type="text" id="toDate" value="" class="form-control pickadate" placeholder="Đến ngày" data-toggle="tooltip" title="Đến ngày">
                    </div>
                </div>
            </div>
            <div class="right-fixed">
                <button type="button" id="" class="btn btn-primary btnSearch">Tìm kiếm</button>
            </div>
        </div>
        <div class="div-h100 div-top105">
            <div class="div-h100">
                <div class="data-table div-h100-body">
                    <div class="well">

                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>