@model int
@{
    ViewBag.Title = "Quản lý hợp đồng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header page-header-default">
    <div class="page-header-content" style="background-color: #fcfcfc;">
        <div class="page-title" style="padding: 20px 0;">
            <h4>
                <a href="javascript:void(0);" onclick="history.go(-1);"><i class="icon-arrow-left52 position-left"></i></a>
                <span class="text-semibold">Hợp đồng vay họ</span>
            </h4>
        </div>
    </div>
</div>
<div class="div-h100 div-top69">
    <div class="panel-body div-h100-body">
        <div class="form-group">
            @Html.ActionLink("Thêm mới", "Create", "Installment", null, new { @class = "btn btn-primary" })
        </div>
        <div class="two-columns form-group">
            <div class="left-full">
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <input type="text" id="" class="form-control txtSearch" placeholder="Tìm kiếm mã HĐ, Tên KH...">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <input type="text" id="fromDate" value="" class="form-control pickadate" placeholder="Từ ngày" data-toggle="tooltip" title="Từ ngày">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <input type="text" id="toDate" value="" class="form-control pickadate" placeholder="Đến ngày" data-toggle="tooltip" title="Đến ngày">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <select class="form-control text-center no-padding optStt">
                            <option value="">-- Loại hợp đồng --</option>
                            <option value="0">Hợp đồng đang vay</option>
                            <option value="1">Hợp đồng chậm họ</option>
                            <option value="2">Hợp đồng đã kết thúc</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="right-fixed">
                <button type="button" id="" class="btn btn-primary btnSearch">Tìm kiếm</button>
            </div>
        </div>
        <div class="div-h100 div-top105">
            <div class="two-columns form-group">
                <label><span>Hiển thị:</span> </label>
                <select class="select2-selection--single select2-selection__rendered d-inline" tabindex="-1" aria-hidden="true">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="div-h100 div-top56">
                <div class="data-table div-h100-body">
                    @{ Html.RenderAction("_List");}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal_default" class="modal fade">
    <div class="modal-dialog" style="width: 800px;">
        <div id="modal_content" class="modal-content">

        </div>
    </div>
</div>

<script>
    let url_get = "/Installment/_List";
    let getParamsForSearch = (pageNumber, isNext) => {
        return {
            "keyText": $(".txtSearch").val(),
            "fromDate": getDate($("#fromDate").val()),
            "toDate": getDate($("#toDate").val()),
            "type": $(".optStt").val(),
            "pageNumber": pageNumber + isNext,
            "pageSize": $(".select2-selection--single").val(),
        };
    }
    function getDate(d) {
        var arr = d.split('/');
        if (arr.length != 3)
            return '';
        return arr[2] + arr[1] + arr[0];
    }
    var features = new Features(url_get, null, getParamsForSearch);
</script>